.gradle
.idea
build/
*.iml
local.properties
.DS_Store
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/

# Firebase
google-services.json
GoogleService-Info.plist

# Secrets
secrets.properties
